<main>
    <div class="not-found-img">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/web-server-error-500-2511606-2133694.png" alt="500 internal server error">
    </div>

    <div class="not-found">
        <a href="/">
            <button>Return to Petstagram</button>
        </a>
    </div>
</main>